@model IEnumerable<soffapp.Models.Proveedor>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*-------------------------------------------------------------*@

<div class="row w-100">
    <h4 class="col">
        Proveedores
    </h4>
   <h4 class="col d-flex justify-content-end">
        11:21 PM
    </h4>
</div>




@*-------------------------------------------------------------*@
<div class="border row w-75 ml-1  ">
    @*----------------------------------Buscador---------------------------*@
    <div cite="col container d-flex justify-content-center">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <button class="" type="button" id="button-addon1">
                    <span class="material-icons">
                        search
                    </span>
                </button>
            </div>
            <input type="text" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
        </div>
    </div>
    @*-------------------------------------------------------------*@


    <div class="col d-flex justify-content-center align-items-center">
        <select >
            <option value="opcion1">Opción 1</option>
            <option value="opcion2">Opción 2</option>
            <option value="opcion3">Opción 3</option>
        </select>
    </div>

    @*-------------------------------------------------------------*@

    <div class="col d-flex justify-content-center align-items-center">
        <button class="btn btn-outline-primary w-50">
            <a asp-action="Create">Create New</a>
        </button>
    </div>

</div>
@*-------------------------------------------------------------*@


<table class="table  border w-1283">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaRegistro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ciudad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdInsumoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Empresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaRegistro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ciudad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdInsumoNavigation.IdInsumo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdProveedor">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdProveedor">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdProveedor">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
