@model IEnumerable<soffapp.Models.Producto>

@{
    ViewData["Title"] = "Productos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h1 style="font-family: 'Outfit'; font-size:20px; font-style:normal">Productos</h1>*@

<p>
    <a asp-action="Create">Agregar producto</a>
</p>
<div class="max-w-[1400px] mx-auto px-4">
    @*<div class="">*@
<table class="table bg-white w-full h-[500px] relative">
            <thead class="h-11 w-[1200px] text-[9px] text-[#484848] text-left" style="background-color:#F8F8F8">
        <tr >
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
                <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th class="text-right" style="width:50%">Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                        <a class="items-right" asp-action="Edit" asp-route-id="@item.IdProducto">Edit</a> |
                        <a class="items-right" asp-action="Details" asp-route-id="@item.IdProducto">Details</a> |
                        <a class="items-right" asp-action="Delete" asp-route-id="@item.IdProducto">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
    @*</div>*@
</div>
